<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.opendid.oid4vc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openid-credential-offer</string>
				<string>openid4vp</string>
				<string>oid4vc-app</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs Bluetooth access to present mDoc to a reader offline.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs Bluetooth access to present mDoc to a reader offline.</string>
</dict>
</plist>